<div class="container1">
  <!-- Left Section -->
  <div class="left-section">
      <h2>Professional Details</h2>
      @for (item of ProfessionalList; track $index) {
          @if (!item.isConfirmed) {
              <div class="profile-card">
                  <img src="face.png" alt="Profile Picture" class="profile-pic">
                  <p><strong>Name:</strong> {{item.name}}</p>
                  <p><strong>UserName:</strong> {{item.userName}}</p>
                  <p><strong>Domain:</strong>{{item.domain}}</p>
                  <p><strong>Phone No:</strong> {{item.phone}}</p>
                  <p><strong>Email:</strong> {{item.email}}</p>
                  <p><strong>Address:</strong> {{item.address}}</p>
                  <p><strong>Gender:</strong> {{item.gender}}</p>
                  <p><strong>Rating:</strong> {{item.rating}}</p>
                  <label class="labels">New Rating</label>
                  <input [(ngModel)]="item.rating" type="text" class="form-control" placeholder="Enter New Rating" value="0">
                  <button type="submit" class="btn btn-danger btn-block" (click)="confirm(item)">Confirm</button>
              </div>
          }
          <br>
      }
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <div class="card-container">
        <div class="card">
            <div class="bg"><p class="custome1">Total no of Plumber requests:......... {{noOfPlumbers}}</p></div>
            <div class="blob"></div>
            <p class="custome1">Card 1</p>
        </div>
        <div class="card">
            <div class="bg"><p class="custome1">Total no of Electrician requests:......... {{noOfElectricians}}</p></div>
            <div class="blob"></div>
            <p class="custome1">Card 2</p>
        </div>
        <div class="card">
            <div class="bg"><p class="custome1">Total  no of Tutor<br> requests:......... {{noOfTutors}}</p></div>
            <div class="blob"></div>
            <p class="custome1">Card 3</p>
        </div>
    </div>
    
  </div>
</div>
