
<!-- <h1>
    <p>Total no of Plumber requests:......... {{noOfPlumbers}}</p>
    <p>Total no of Electrician requests:......... {{noOfElectricians}}</p>
    <p>Total no of Tutor requests:......... {{noOfTutors}}</p>
    
</h1> -->


<div class="card-container">
    <div class="card">
        <div class="bg"><p class="custome1">Total no of Plumber requests:......... {{noOfPlumbers}}</p></div>
        <div class="blob"></div>
        <p class="custome1">Card 1</p>
    </div>
    <div class="card">
        <div class="bg"><p class="custome1">Total no of Electrician requests:......... {{noOfElectricians}}</p></div>
        <div class="blob"></div>
        <p class="custome1">Card 2</p>
    </div>
    <div class="card">
        <div class="bg"><p class="custome1">Total  no of Tutor<br> requests:......... {{noOfTutors}}</p>
        </div>
        <div class="blob"></div>
        <p class="custome1">Card 3</p>
    </div>
</div>

  