<div class="container" style="height: 100%;">
  <!-- Left Section -->
  <div class="left-section">
    <h2>User Details</h2>
    @for (item of BookingRequests; track $index) {
    @if (!item.cancelationConfirmed && !item.isCompleted) {
    <div class="profile-card" style="height: 16%"
      [ngStyle]="{'background-color':item.serviceProviderResponse ? '#ecfbe5':'#fbe5e5'}">
      <img src="face.png" alt="Profile Picture" class="profile-pic">
      <p><strong>Name:</strong> {{item.userName}}</p>
      <p><strong>Service Requested:</strong> {{item.serviceProvided}} </p>
      <p><strong>Created At:</strong> {{item.createdAt | date}} </p>
      <p><strong>Base Pay:</strong> {{item.price}} /hour</p>
      <p><strong>Booking Status:</strong> {{item.bookingStatus}} </p>
      <div class="button-container">
        <button type="submit" class="btn btn-danger btn-block custom4" (click)="Delete(item.id)">Cancel</button>

        <button type="submit" class="btn btn-info btn-block custom1" [ngStyle]="{ display: item.serviceProviderResponse? 'none' : 'block' }" (click)="Confirm(item.id)">Confirm Request</button>
        <button type="submit" class="btn btn-success btn-block custom2" [ngStyle]="{ display: item.serviceProviderResponse? 'block' : 'none' }" (click)="payment(item.id)">Confirm Payment</button>
      </div>

    </div>
    <br>
    }

    }

  </div>

  <!-- Right Section -->
  <div class="right-section">
    <div class="previous-booking-card">
      <h3>Total Booking</h3><br>
      <p><strong>Count:</strong> {{bookingCount}} </p>
      <!-- <p><strong>Rating:</strong> 5/5</p> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>