<!-- 
<nav class="navbar">
  <div class="navbar-brand"></div>
  <div class="dropdown">
    <div class="dropdown-toggle">
      <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User Icon" class="user-icon">
    </div>
    <ul class="dropdown-menu">
      <li><a routerLink="profstatus">User Request</a></li>
      <li><a routerLink="profprofile">Edit Profile</a></li>
      <li><a routerLink="#">Logout</a></li>
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo and Brand Name -->
    <a class="navbar-brand" href="#">
      <h3 style="font-family: 'Times New Roman', Times, serif;">QuickAccess</h3>
    </a>

    <!-- Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Profile Dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownProfile" ngbDropdownToggle aria-expanded="false">
            {{profileName}}
          </a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
            <li><a class="dropdown-item" routerLink="profdashboard">User Request</a></li>
            <li><a class="dropdown-item" routerLink="profprofile">Edit Profile</a></li>
            <li><a class="dropdown-item logout-theme" href="" (click)="onLogOut() ">Logout</a></li>
          </ul>
        </li>

        <!-- Icon -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  <router-outlet></router-outlet>